@model SearchParkVehicleViewModel

@{
    ViewData["Title"] = "Index";
    SearchParkVehicleViewModel.SortParam sortParams = SearchParkVehicleViewModel.SortParams;
}

<h1>Group 1's garage</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <a >@Html.DisplayNameFor(model => model.Owner)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeParked)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vehicles)
        {
            <tr>
                <td>
                   @Html.DisplayFor(modelItem => item.Owner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Membership)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeParked)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ParkVehicleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ParkVehicleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ParkVehicleId">Collect</a>
                </td>
            </tr>
        }
    </tbody>
</table>