@model ReceiptViewModel

<h2>Receipt</h2>
<p><strong>Member:</strong> @Model.FirstName</p>
<p><strong>Member:</strong> @Model.LastName</p>
<p><strong>Registration Number:</strong> @Model.RegistrationNumber</p>
<p><strong>Brand:</strong> @Model.Brand</p>
<p><strong>Model:</strong> @Model.Model</p>
<p><strong>Time Parked:</strong> @Model.HoursParked Hour,@Model.MinutesParked Minutes.</p>
<p><strong>Total Cost:</strong> @Model.Cost Kr.</p>
<a asp-action="Index" asp-controller="ParkVehicles" class="btn btn-primary">Return to Main View</a>