@model StatisticsViewModel

@{
    ViewData["Title"] = "Statistics";
}

<h2>Statistics</h2>

<p>Total Wheels: @Model.TotalWheels</p>
<p>Total Revenue: $@Model.TotalRevenue</p>
<p>Total Members: @Model.NumberOfMembers</p>

<h3>Vehicle Type Amount:</h3>
<ul>
    @foreach (var kvp in Model.VehicleTypeAmount)
    {
        <div><ol>@kvp.Key: @kvp.Value</ol></div>
    }
</ul>

<h3>Parking Spot Information:</h3>
<p>Occupied Parking Spots: @Model.OccupiedParkingSpots / @Model.TotalParkingSpots</p>
