@model StatisticsViewModel

@{
    ViewData["Title"] = "Statistics";
}

<h2>Statistics</h2>
<br />
<p><strong>Total Wheels:</strong> @Model.TotalWheels</p>
<p><strong>Total Revenue:</strong> $@Model.TotalRevenue</p>
<p><strong>Total Members:</strong> @Model.NumberOfMembers</p>

<h4>Current Vehicles Parked:</h4>
<ul>
    @foreach (var vehicle in Model.VehicleTypeAmount)
    {
        <li><strong>@vehicle.Key:</strong> @vehicle.Value</li>
    }
</ul>

<h4>Parking Spots:</h4>
<p><strong>Occupied Parking Spots: </strong>@Model.OccupiedParkingSpots / @Model.TotalParkingSpots</p>