@model SearchParkVehicleViewModel

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<form asp-action="Search" method="get">
    <div class="form-group">
        <input asp-for="SortOrder" type="hidden" value="@Model.SortOrder" />
        <label asp-for="RegistrationNumber" class="control-label"></label>
        <input asp-for="RegistrationNumber" class="form-control" />
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a class="text-decoration-none" asp-route-SortOrder="@ViewData["RegistrationNumberSort"]" asp-route-RegistrationNumber="@Model.RegistrationNumber">@Html.DisplayNameFor(model => model.RegistrationNumber)</a>
                </th>
                <th>
                    <a class="text-decoration-none" asp-route-SortOrder="@ViewData["VehicleTypeSort"]" asp-route-RegistrationNumber="@Model.RegistrationNumber">@Html.DisplayNameFor(model => model.VehicleType)</a>
                </th>
                <th>
                    <a class="text-decoration-none" asp-route-SortOrder="@ViewData["ColorSort"]" asp-route-RegistrationNumber="@Model.RegistrationNumber">@Html.DisplayNameFor(model => model.Color)</a>
                </th>
                <th>
                    <a class="text-decoration-none" asp-route-SortOrder="@ViewData["ParkingDate"]" asp-route-RegistrationNumber="@Model.RegistrationNumber">@Html.DisplayNameFor(model => model.ParkingDate)</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Vehicles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParkingDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Collect</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

